* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #274471;
  font-family: "Lato", sans-serif;
}
h1 {
  font-weight: solid;
  margin-bottom: 20px;
}
label {
  /* color: gray; */
  font-weight: lighter;
}

.container {
  width: 400px;
  margin: 30px auto;
  background-color: rgb(234, 234, 234);
  border-radius: 6px;
}

#contractForm {
  padding: 25px;
}

input {
  width: 100%;
  border: none;
  padding: 10px 16px;
  margin: 8px 0;
  border-radius: 6px;
}
textarea {
  width: 100%;
  resize: none;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 6px;
}

.submit-button {
  background-color: #1ac0f3;
  color: white;
  cursor: pointer;
  padding: 14px 20px;
  text-indent: 20px;
  border-radius: 6px;
  margin-bottom: 40px;
}

.submit-button:hover {
  background-color: aqua;
  transition: 0.5s;
  text-shadow: white 1px 1px;
}
